---
---

<nav class="w-full bg-gray-100 px-1 py-6 shadow-md">
	<div
		class="container mx-auto flex items-center justify-between px-1 md:px-0"
	>
		<span class="text-xl font-bold">
			<a href="/">nCore downloader</a>
		</span>
		<ul class="flex items-center space-x-6 text-gray-500">
			<li class="hover:text-gray-800 hover:underline">
				<a href="/">Search</a>
			</li>
			<li class="hover:text-gray-800 hover:underline">
				<a href="/torrents">Torrents</a>
			</li>
			<li class="hover:text-gray-800 hover:underline">
				<a href="/downloads">Downloads</a>
			</li>
		</ul>
	</div>
</nav>
