---
import SearchBox from '@/components/search/SearchBox.astro';
import Layout from '@/components/layout/Layout.astro';
---

<Layout title="">
	<div class="container mx-auto h-full">
		<div class="flex h-full w-full items-center justify-center">
			<SearchBox />
		</div>
	</div>
</Layout>
