---
export interface Props {
	class?: string;
	textIcon?: boolean;
	title?: string;
	text: string | number;
}

const { class: className = '', textIcon = false, text, title } = Astro.props;
---

<div
	class={`flex h-8 items-center justify-center rounded-full bg-opacity-25 px-3 py-1 text-sm font-semibold text-gray-700 ${className}`}
	title={title}
>
	{
		textIcon ? (
			<span class="mr-2 block text-xs">
				<slot name="icon" />
			</span>
		) : (
			<span class="mr-2 block h-4 w-4">
				<slot name="icon" />
			</span>
		)
	}
	<span class="block">{text}</span>
</div>
