---
---

<div class="flex h-full items-center justify-center bg-gray-50">
	<form
		id="login-form"
		onsubmit="(e) => onSubmit(e)"
		class="flex flex-col justify-center space-y-3"
	>
		<input
			placeholder="Password"
			type="password"
			name="password"
			class="rounded-md px-2 py-1 ring-1 ring-blue-300"
		/>

		<button>Log in</button>

		<span id="error"></span>
	</form>

	<script>
		import { signIn } from '@astro-auth/client';

		const form = document.querySelector('form#login-form');
		const error = document.querySelector('#error');

		async function onSubmit(e: Event) {
			e.preventDefault();
			const passwordInput = form?.querySelector<HTMLInputElement>(
				'input[name="password"]',
			);

			const resp = await signIn({
				provider: 'credential',
				login: {
					password: passwordInput?.value,
				},
			});
			if ('error' in resp && error) {
				error.innerHTML = resp.error
					? JSON.stringify(resp.error)
					: 'Wrong password';
			}
		}

		form?.addEventListener('submit', onSubmit);
	</script>
</div>
