---
import Button from '../shared/Forms/Button.astro';
import InputField from '../shared/Forms/InputField.astro';
---

<div class="flex h-full items-center justify-center bg-gray-50">
	<form
		id="login-form"
		method="post"
		action="/api/auth/login"
		class="flex flex-col justify-center space-y-3"
	>
		<InputField
			label="Username"
			autocomplete="username"
			type="text"
			name="username"
		/>
		<InputField
			label="Password"
			autocomplete="password"
			type="password"
			name="password"
		/>
		<Button type="submit">Log in</Button>
	</form>
</div>
